<div class="container p-3 mb-2 bg-dark.bg-gradient">
  <h1>Add a new list</h1>
<div class="simple-form">
    <%= simple_form_for @list do |f| %>
      <%= f.input :name %>
      <%= f.submit :submit %>
    <% end %>
</div>
<p><%= link_to 'My lists', lists_path %></p>
</div>
