// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

.container {
  margin: 20px auto;
  .top{
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
    h1{
      text-align: left;
      color: white;
      // background-color: white;
      padding: 20px;
      font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      a{
        text-decoration: none;
        color: white;
      }
    }
  }
}

.card-category{
  background-color: whitesmoke;
  box-shadow: 5px 5px 5px rgb(58, 58, 58);
  padding: 15px 15px 15px;
  // overflow: hidden;
  position: relative;

  .top-card{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-size: cover;
    background-position: center;
    padding: 0 0 100px;

      h4 {
        padding: 15px;
        color: white;
      }

    .card-remove-link {
      padding: 15px;
      transform: rotate(-45deg);
      a{
        text-decoration: none;
        font-size: 40px;
        color: white;
        font-weight:lighter;
      }
    }
  }
}


.card-movies{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: white;
  padding: 15px;

  img {
    height: 100%;
    width: 120px;
    object-fit: cover;
    border-radius: 5px;
  }

  .card-movies-top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: bolder;
  }

  .card-movies-infos{
    padding: 0px 15px;
  }
}
